.card{
    width: 250px;
    height: 300px;
    background: radial-gradient(circle, rgb(141, 61, 85) 32%, rgba(71,36,52,1) 75%);
    border: 10px solid #e5d9c0;
    margin: 15px;
    border-radius: 8px;
    text-align: center;
    color: #FFF;    
    box-shadow:  3px 5px 5px rgba(3,32,51, .8);
}