.txt{
    font-size: 24px;
    font-weight: 700;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    margin-bottom: 0;
    padding-bottom: 5px;
    display: inline-block;
}
.txt1{
    line-height: 1.5;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    width: 52em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    padding-bottom: 1em;
    margin-bottom: 0em;
}
.lista{
    display: inline-block;
    list-style-position: outside;
    padding-left: 0%;
    justify-content: center;
    text-align: left;
    margin-top: 0;
}
.images {
    margin-left: auto;
    margin-right: auto;
}
.images div{
    display: inline-block;
    box-sizing: border-box;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}